<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="continuum_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="sr_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint8">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint8']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint9">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint9']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint10">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint10']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint11">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint11']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint12">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint12']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint13">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint13']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sr_ee_joint14">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sr_ee_joint14']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
